body{
    font-family: Helvetica;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
}

body > header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  background-color: #3d3d3d;
  color: white;
}

body > header > h4{
    position: relative;
    left: 20px;
}

body > header > nav > ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

body > header > nav > ul > li{
    display: block;
    padding:0.5em;
    text-decoration:none;
}

body > header > nav > ul > li > a{
    text-decoration:none;
    color: white;
}

.items{
    display: grid;
    grid-template-columns: repeat(4, 120px);
    grid-column-gap: 200px;
    margin-left: 100px;
    margin-top: 50px;
}

.item {
    border: solid 1px;
    width: 300px;
    margin-top: 30px;
  }

  .items > div > text{
    padding-right: 50px;
}

#items > div > text:nth-child:before(3){
    position: relative;
    left: 0;
}
 